#app {
  max-width: 960px; 
  margin: 0 auto;
}

ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: row;
}

#chapters .title {
  font-weight: bold;
  margin-right: 2em;
  text-align: right;
  width: 20%;
}

#chapters .description {
  text-decoration: italic;
}

#chapters li {
  background-color: #f7f7f7;
}

#chapters li:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

#chapters li.active {
  background-color: #7B6ED6
}